.vscode/**
.vscode-test/**
src/**
webview-ui/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview-ui/node_modules/**
!out/**/*.js
!out/webview/**
resources/*.svg
!resources/icon-light.svg
!resources/icon-dark.svg
AGENTS.md
DEV.md
